<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <table>
        <thead>
            <% header.forEach(column => { %>
                <th> <%= column %> </th>
            <% }) %>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <% row.forEach(element => { %>
                        <td> <%= element %> </td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
</body>
</html>